.header-container{
    width: 100vw;
   height: 10vh;
}
.header-container .page-icon{
   position: relative;
   right: 20rem;
   
   
}
.page-icon__text{
    font-size: 1.59rem;
}
.main-container{
    flex-direction: row;
    height: 80vh;

   
}

.main-section div{
    width: 70vw;
}
.card-proyect{
    width: 80vw;
}
.side-bar{
    width: 20vw;
   height: 80vh;
    order: 1;
}

.main-section{
    
    width: 85vw;
    order: 2;
    
}

.footer-container{
    width: 100vw;
    height: 10vh;
   
}